
.layout-container {
    min-height: 100vh;
}

.layout-wrapper,
.layout-container {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
}
@media (min-width:1200px){
    // Default expanded

    // Navbar full layout
    .layout-navbar-full {
        .layout-navbar {
            z-index: 10;
        }

        .layout-menu {
            z-index: 9;
        }
    }

    // Content Navbar layout
    .layout-content-navbar {
        .layout-navbar {
            z-index: 9;
        }

        .layout-menu {
            z-index: 10;
        }
    }

    // Fixed
    // Navbar full layout
    .layout-menu-fixed body:not(.modal-open) .layout-navbar-full .layout-menu,
    .layout-menu-fixed-offcanvas body:not(.modal-open) .layout-navbar-full .layout-menu {
        z-index: $zindex-menu-fixed - 5;
    }

    // Content Navbar layout
    .layout-navbar-fixed body:not(.modal-open) .layout-content-navbar .layout-menu,
    .layout-menu-fixed body:not(.modal-open) .layout-content-navbar .layout-menu,
    .layout-menu-fixed-offcanvas body:not(.modal-open) .layout-content-navbar .layout-menu {
        z-index: $zindex-menu-fixed;
    }
}