

.avatar.avatar-online:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    box-shadow: 0 0 0 2px #fff;
    background-color: #71dd37;
}

.avatar {
    position: relative;
    width: 2.375rem;
    height: 2.375rem;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }
}

.avatar-group {
    .avatar-xs {
        margin-left: -0.65rem;
        width: 1.625rem;
        height: 1.625rem;
    }

    .avatar {
        transition: all 0.25s ease;

        &:hover {
            z-index: 30;
            transition: all 0.25s ease;
        }
    }
}
.pull-up:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 0.25rem 1rem rgba(161, 172, 184, 0.45);
    z-index: 30;
    border-radius: 50%;
}