body {
    background-color: #f5f5f9;
    font-family: "Public Sans";
    color: #697a8d;
    font-size: 15px;
}
.h4, h4 {
    font-size: 1.5rem;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.1;
    color: #566a7f;
} 
a{
    text-decoration: unset;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
    color: #697a8d;
    .card-body {
        flex: 1 1 auto;
        padding: 1.5rem 1.5rem;
    }
} 
.btn-primary {
  color: #fff;
  background-color: #696cff;
  border-color: #696cff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}

.form-label,
.col-form-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: inherit;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.4375rem 0.875rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9dee3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    color: #697a8d;
    background-color: #fff;
    border-color: rgba(249, 249, 255, 0.54);
    outline: 0;
    box-shadow: 0 0 0.25rem 0.05rem rgba(105, 108, 255, 0.1);
  }
  .form-control:focus, .form-select:focus {
    border-color: #696cff;
}
  .form-control::-moz-placeholder {
    color: #b4bdc6;
    opacity: 1;
  }
  .form-control::placeholder {
    color: #b4bdc6;
    opacity: 1;
  }
  .form-label {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: #566a7f;
}

.form-label,
.col-form-label {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-control::-moz-placeholder {
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.form-control::placeholder {
    transition: all 0.25s ease;
}

.form-control:focus::-moz-placeholder {
    transform: translate(5px);
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.form-control:focus::placeholder {
    transform: translate(5px);
    transition: all 0.25s ease;
}
.form-check-input {
    width: 1.2em;
    height: 1.2em;
}
label.form-check-label {
    vertical-align: middle;
}
.carousel-indicators li::marker {
    font-size: 0;
}





// Bootstrap Loading Skeleton
%loading-skeleton {
  color: transparent;
  appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  border-color: #eee;

  &::placeholder {
    color: transparent;
  }
}

@keyframes loading-skeleton {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

.loading-skeleton {
  pointer-events: none;
  animation: loading-skeleton 1s infinite alternate;

  img {
    filter: grayscale(100) contrast(0%) brightness(1.8);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  .btn,
  label,
  .form-control {
    @extend %loading-skeleton;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 20px;
  }
}

@media (min-width:1400px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1440px;
  }
}

.w-px-40 {
  width: 40px !important;
}

.container-p-y {
  padding-top: 1.625rem !important;
  padding-bottom: 1.625rem !important
}

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
}

.text-primary {
  color: #696cff !important;
}
.btn-outline-primary {
  color: #696cff;
  border-color: #696cff;
  background: transparent;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #5f61e6;
  border-color: #5f61e6;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
  transform: translateY(-1px);
}
.text-success {
  opacity: 1;
  color: rgba(113,221,55) !important;
}
.text-danger {
  opacity: 1;
  color: rgba(255, 62,29) !important;
}
.card-header {
  padding: 1.5rem 1.5rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 0 solid #d9dee3;
}
.text-light {
  --bs-text-opacity: 1;
  color: #b4bdc6 !important;
}