.layout-wrapper,
.layout-container {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
}

.layout-container {
    min-height: 100vh;
}

@media (min-width:1200px) {

    .layout-content-navbar {
        .layout-menu {
            z-index: 1080;
        }
    }

    .layout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .layout-container {
        .layout-page {
            padding-left: $menu-width;
        }
    }

    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

.bg-menu-theme.menu-vertical {
    box-shadow: 0 0.125rem 0.375rem 0 rgba(161, 172, 184, 0.12);
}

.menu-vertical {
    // overflow: hidden;
    flex-direction: column;

    // menu expand collapse animation
    &:not(.menu-no-animation) {
        transition: width 0.3s;
    }

    &,
    .menu-block,
    .menu-inner>.menu-item,
    .menu-inner>.menu-header {
        width: 16.25rem;
    }

    .menu-inner {
        flex-direction: column;
        flex: 1 1 auto;

        >.menu-item {
            margin: 0.0625rem 0;

            // Sneat menu-link spacing
            .menu-link {
                margin: 0rem 1rem;
            }
        }
    }

    .menu-item .menu-link,
    .menu-block {
        padding: 0.625rem 1rem;
    }

    // Sneat menu-header spacing
    .menu-header {
        margin: 1rem 0 1rem / 2 0;
        padding: 0.625rem 1rem * 2 0.625rem 1rem * 2;
    }

    .menu-item {
        .menu-link {
            font-size: 0.9375rem;
        }

    }

    .menu-item.active:not(.open)> {
        .menu-link {
            font-weight: 600;
        }
    }

    .menu-item .menu-toggle {
        padding-right: calc(#{1rem} + #{0.42em * 3});

        &::after {
            right: 1rem;
        }
    }

    .menu-divider {
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        padding: 0;
    }

    .menu-sub {
        padding-top: 0.625rem / 2;
        padding-bottom: 0.625rem / 2;

        .menu-link {
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
        }
    }

    .menu-icon {
        width: 1.5rem;
    }

    .menu-sub .menu-icon {
        margin-right: 0;

    }

    .menu-horizontal-wrapper {
        flex: none;
    }

    .menu-sub .menu-link {
        padding-left: 1rem;
    }
}

.bg-menu-theme {
    background-color: #fff !important;
    color: #697a8d;
}

.menu {
    display: flex;
}

.menu-vertical {
    flex-direction: column;
}

.app-brand .layout-menu-toggle {
    background-color: $primary-color;
    border: 7px solid $body-bg;

    i {
        color: color-contrast($primary-color);
    }

    .menu-inner>.menu-header::before {
        background-color: rgba-to-hex($gray-400, $rgba-to-hex-bg);
    }
}

.app-brand {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    line-height: 1;
    min-height: 1px;
    align-items: center;
}

.app-brand-link {
    display: flex;
    align-items: center;
}

.app-brand-logo {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    min-height: 1px;

    img,
    svg {
        display: block;
    }
}

.app-brand-text {
    flex-shrink: 0;
    opacity: 1;
    transition: opacity $menu-animation-duration * 0.5 ease-in-out;
}

.app-brand-img-collapsed {
    display: none;
}

.menu-vertical .app-brand {
    padding-right: $menu-vertical-link-padding-x + $menu-vertical-link-margin-x;
    padding-left: $menu-vertical-link-padding-x + $menu-vertical-link-margin-x;
}

// App brand with vertical menu
.menu-horizontal .app-brand,
.menu-horizontal .app-brand+.menu-divider {
    display: none !important;
}

.menu .app-brand.demo {
    height: 64px;
    margin-top: 12px;
}

.app-brand-text.demo {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
    text-transform: lowercase;
}

.bg-menu-theme .menu-text {
    color: #566a7f;
}

.menu-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 100%;
}

.menu-item {
    align-items: flex-start;
    justify-content: flex-start;

    &.menu-item-animating {
        transition: height $menu-animation-duration ease-in-out;
    }
}

.menu-item,
.menu-header,
.menu-divider,
.menu-block {
    flex: 0 0 auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item.active:before {
    .layout-wrapper:not(.layout-horizontal) & {
        content: '';
        position: absolute;
        right: 0;
        width: 0.25rem;
        height: 2.5rem;
        border-radius: $border-radius 0 0 $border-radius;
    }
}

.menu-inner>.menu-item.active:before {
    background: $primary-color;
}

.menu-inner .menu-item .menu-link {
    .layout-wrapper:not(.layout-horizontal) & {
        border-radius: $border-radius;
    }
}

.menu-inner>.menu-item>.menu-link {
    .layout-horizontal & {
        border-radius: $border-radius;
    }
}

.menu-sub>.menu-item.active>.menu-link {
    background-color: $primary-color !important;
    border: 3px solid rgba-to-hex(rgba($primary-color, 0.16), $rgba-to-hex-bg) !important;
}





// layout

.layout-page:before {
    backdrop-filter: saturate(200%) blur(10px);
    background: rgba($body-bg, 0.6);
}

.layout-content-navbar {
    .layout-page {
        flex-basis: 100%;
        flex-direction: column;
        width: 0;
        min-width: 0;
        max-width: 100%;
    }

    .content-wrapper {
        width: 100%;
    }
}

.layout-page:before {
    content: '';
    width: 100%;
    height: 0.75rem;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.layout-navbar.navbar-detached.container-xxl {
    max-width: calc(1440px - calc(1.625rem * 2));
}

.layout-navbar.navbar-detached {
    width: calc(100% - (1.625rem * 2));
    margin: 0.75rem auto 0;
    border-radius: 0.375rem;
    padding: 0 1.5rem;
}

.navbar-detached {
    box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);
}

.bg-navbar-theme {
    background-color: #fff !important;
    color: #697a8d;
}

.content-wrapper {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 992px) {

    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        padding-right: 1.625rem;
        padding-left: 1.625rem;
    }
}

.layout-navbar {
    position: relative;
    padding-top: 0.25rem;
    padding-bottom: 0.2rem;
    height: 3.875rem;
    flex-wrap: nowrap;
    color: $body-color;
    z-index: 2;

    .navbar {
        transform: translate3d(0, 0, 0);
    }

    .navbar-nav-right {
        flex-basis: 100%;
    }

    .navbar-search-wrapper {

        .search-input,
        .input-group-text {
            background-color: transparent;
        }
    }

    // Style for detached navbar
    &.navbar-detached {
        // Container layout max-width


        // Navbar fixed
        .layout-navbar-fixed & {
            width: calc(100% - calc(#{$container-padding-x} * 2) - #{$menu-width});

            // @include media-breakpoint-down(xl) {
            //     width: calc(100% - calc(#{$container-padding-x} * 2)) !important;
            // }

            // @include media-breakpoint-down(lg) {
            //     width: calc(100% - calc(#{$container-padding-x-sm} * 2)) !important;
            // }
        }

        .layout-navbar-fixed.layout-menu-collapsed & {
            width: calc(100% - calc(#{$container-padding-x} * 2) - #{$menu-collapsed-width});
        }

        // Navbar static
        width: calc(100% - calc(#{$container-padding-x} * 2));

        // @include media-breakpoint-down(xl) {
        //     width: calc(100vw - (100vw - 100%) - calc(#{$container-padding-x} * 2)) !important;
        // }

        // @include media-breakpoint-down(lg) {
        //     width: calc(100vw - (100vw - 100%) - calc(#{$container-padding-x-sm} * 2)) !important;
        // }

        .layout-menu-collapsed &,
        .layout-without-menu & {
            width: calc(100% - calc(#{$container-padding-x} * 2));
        }

        margin: 0.75rem auto 0;
        border-radius: $border-radius;
        padding: 0 $card-spacer-x;
    }

    .search-input-wrapper {
        .search-toggler {
            position: absolute;
            top: 1.25rem;
            right: 1rem;
            z-index: 1;
        }

        .search-input {
            height: 100%;
            box-shadow: none;
        }
    }

    &[class*='bg-']:not(.bg-navbar-theme) {
        .nav-item {

            .input-group-text,
            .dropdown-toggle {
                color: $white;
            }
        }
    }


    // @include media-breakpoint-down(xl) {
    //     .navbar-nav {
    //         .nav-item.dropdown {
    //             .dropdown-menu {
    //                 position: absolute;

    //                 .last-login {
    //                     white-space: nowrap;
    //                 }
    //             }
    //         }
    //     }
    // }

    // @include media-breakpoint-down(md) {
    //     .navbar-nav {
    //         .nav-item.dropdown {
    //             position: static;
    //             float: left;

    //             .badge-notifications {
    //                 top: auto;
    //             }

    //             .dropdown-menu {
    //                 position: absolute;
    //                 left: 0.9rem;
    //                 min-width: auto;
    //                 width: 92%;
    //             }
    //         }
    //     }
    // }
}

.layout-page,
.content-wrapper,
.content-wrapper>*,
.layout-menu {
    min-height: 1px;
}

.layout-page {
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    padding: 0;

    // Without menu
    .layout-without-menu & {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.nav-link {
    display: block;
    padding: 0.5rem 1.25rem;
    color: #697a8d;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

img.lineGraph {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.bg-menu-theme .menu-inner>.menu-item.active>.menu-link {
    color: #696cff;
    background-color: rgba(105, 108, 255, 0.16) !important;
}

.menu-link {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    margin: 0;
    cursor: pointer;
}

.menu-icon {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.5rem;
    font-size: 1.25rem;
}


a.nav-link.dropdown-toggle.hide-arrow::after {
    display: none;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs {
    .nav-item {
        .nav-link {
            color: $nav-tabs-btn-color;
            border: 0;
            border-radius: 0;

            &:hover,
            &:focus {
                color: $nav-tabs-btn-color;
            }

            &:not(.active) {
                background-color: $nav-tabs-btn-bg;
            }

            &.disabled {
                color: $nav-link-disabled-color;
            }
        }
    }
}