.table-borderless> :not(caption)>*>* {
    border-bottom-width: 0;
}
.table> :not(caption)>*>* {
    padding: 0.625rem 1.25rem;
}
.badge {
    display: inline-block;
    padding: 0.52em 0.593em;
    font-size: 0.8125em;
    font-weight: 500;
    line-height: 1;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.bg-label-primary {
    @include backgroundLabel($bgPrimary, $btnPrimary)
}
.bg-label-success {
    @include backgroundLabel($bgSuccess, $btnSuccess)
}
.bg-label-info {
    @include backgroundLabel($bgInfo,$btnInfo)
}
.bg-label-warning {
    @include backgroundLabel($bgWarning,$btnWarning )
}


